<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"  title="Toggle Navigation Menu"><span class="glyphicon glyphicon-align-justify"></span></a>
      <a  class="w3-bar-item w3-button w3-padding-large w3-hide-small" routerLink="/menu" ><span class="glyphicon glyphicon-home"></span> HOME</a>
      <a  class="w3-bar-item w3-button w3-padding-large w3-hide-small" routerLink="/user-fighter" ><span class="glyphicon glyphicon-play-circle"></span> PLAY</a>
    </div>
  </div>
  