<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"  title="Toggle Navigation Menu"><span class="glyphicon glyphicon-align-justify"></span></a>
      <a  class="w3-bar-item w3-button w3-padding-large w3-hide-small" routerLink="/menu" ><span class="glyphicon glyphicon-home"></span> HOME</a>
      <a  class="w3-bar-item w3-button w3-padding-large w3-hide-small" routerLink="/user-fighter" ><span class="glyphicon glyphicon-play-circle"></span> PLAY</a>
      <a  class="w3-bar-item w3-button w3-padding-large w3-hide-small" onclick="myMedia('Anime')"><span class="glyphicon glyphicon-signal"></span> STAT</a>
      <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
    </div>
  </div>
  
  <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
  <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()"><span class="glyphicon glyphicon-blackboard"></span> FILM</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()"><span class="glyphicon glyphicon-film"></span> SÉRIE</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()"><span class="glyphicon glyphicon-play-circle"></span> ANIME</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()"><span class="glyphicon glyphicon-book"></span> MANGA</a>
    <a href="index.php?action=game" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()"><span class="glyphicon glyphicon-globe"></span> ADMIN</a>
  </div>
