<div id="conteneur">
    <div>
        <h1>{{title | uppercase}}</h1>
    </div>

    <div class="userCartouche" *ngFor="let user of usersFghter">
            <img src="{{user.picture}}" alt="Avatar"> 
            <span>{{user.firstName}}</span> 
            <span>{{user.lastName}}</span>
            <span>{{user.gender}}</span>
            <span>{{user.life}}</span>
            <button class="chooseUserButton" (click)="gotoBattle(user)" >Choose</button>
    </div>
</div>
<div id="goBackButton">
    <button (click)="goBack()">go back</button>
    <button (click)="recupUserFromApi()">Refresh</button>
</div>

